model_ws/template
*.cbc
*.cbb
*.cre
*.lst
*.ftl
*.out
*.bud
*.hds
*.sfrobs
*.grb
*.ddn
PstFrom.log

.idea/

__pycache__/
*/.pyc
*.py[cod]


.DS_Store
*~



junk/
HPM_M3/
hpm_zero_pump/
**/*junk*
**/*.pdf
**/*.png